body {
    margin: 0;
    padding: 2em;
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-areas:
    "header header"
    "options grid";
    gap: 20px;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bubble {
    padding: 1em 2em;
    border-radius: 1em;
}

.title-wrapper {
    margin-bottom: 1em;
    grid-area: header;
}

.title {
    background-color: lightcoral;
    font-size: 32px;
}

.options-wrapper {
    background-color: lightblue;
    grid-area: options;
}

#grid-wrapper {
    background-color: greenyellow;
    grid-area: grid;
}

#grid {
    display: flex;
    flex-direction: column;
    --theSize: 400px;
    width: var(--theSize);
    height: var(--theSize);
    padding: 2em;
}

.row {
    display: flex;
    flex-direction: row;
    width: var(--theSize);
    --minSize: 1px;
    flex: 1 1 var(--minSize);
    height: var(--minSize);
}

.cell {
    box-sizing: border-box;
    flex: 1 1 var(--minSize);
}

.cell:hover {
    border: 1px solid #DDD;
}

@media screen and (max-width: 1000px) and (orientation: portrait) {
    .main-wrapper {
        display: flex;
        flex-direction: column;
    }
}
