.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bubble {
    padding: 1em 2em;
    border-radius: 1em;
}

.title-wrapper {
    margin-bottom: 5vh;
}

.title {
    background-color: lightcoral;
    font-size: 32px;
}

.main-wrapper{
    display: grid;
    grid-template-columns: 30% 70%;
}

.options-wrapper {
    background-color: lightblue;
}

.sketch-wrapper {
    background-color: greenyellow;
}

.grid{
    display: grid;
}

.cell {
    background-color: #fff;
    height: 1em;
    width: 1em;
}
