#title-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: lightcoral;
    margin-bottom: 5vh;
}

#main-wrapper{
    display: grid;
    grid-template-columns: 30% 70%;
}

#options-wrapper {
    background-color: lightblue;
}

#sketch-wrapper {
    background-color: greenyellow;
}

#grid{
    display: grid;
    grid-gap:0.5em;
    grid-template-columns: repeat(4,1em);
}

.cell {
    background-color: #fff;
    height: 1em;
    width: 1em;
}
